// @import "./theme.scss";

html, body, #app, #main {
  font-family: PingFangSC-Regular, PingFang SC!important;
  height: 100%;
  width: 100%;
  div{
    box-sizing: border-box;
  }
  ul,
  ol,
  li {
    list-style: none;
    // padding: 0;
    margin: 0;
  }
  input:-internal-autofill-selected {
    // -webkit-text-fill-color: #FFFFFF !important;
    transition: background-color 5000s ease-in-out 0s !important;
  }
}
#main {
  position: relative;
  overflow: auto;
  min-width: 1280px;
}
#dashboard-screen {
  overflow: auto;
}

.charts {
  position: relative;
  width: calc(100% - 10px);
  min-width: 389px;
  height: 100%;
  min-height: 250px;
  background-color: var(--color_bg_con);
  // overflow: hidden;
}

.br_table {
  border-right: 1px solid var(--el-border-color-lighter)!important;
}
// 报告
.radioTimeCon {
  .el-radio {
    min-width: 100px;
    .el-radio__label {
      font-size: 12px!important;
      min-width: 100px;
    }
  }
}
.popperClassTimeReport { // 报告的时间范围中的date一直存在
  z-index: 3000!important;
  top: 415px!important;
}
